*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}
html{
    font-size: 20px;
}
body{
    background-color: rgb(255, 255, 255);

}
.slideshow{
    width: 100%;
    height: 90vh;
    position: relative;
    overflow: hidden;
    background-color:rgba(0, 71, 71,0.5);
    box-shadow: 1px 2px 16px black;
    
}
.slideshow-item{
    width: inherit;
    height: inherit;
    position:absolute;
    animation: cycleshow 20s infinite;
    background-size: cover;
    opacity: 0;
 background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5))url(new2.jpg);
}
.slideshow-item:nth-child(1),
.slideshow-item:nth-child(1) img{
    animation-delay: 0s;
}
.slideshow-item:nth-child(2),
.slideshow-item:nth-child(2) img
{
    animation-delay: 5s;
}
.slideshow-item:nth-child(3)
.slideshow-item:nth-child(3) img{
    animation-delay: 12s;
}
.slideshow-item:nth-child(4)
.slideshow-item:nth-child(4) img{
    animation-delay: 8s;
}


.slideshow-item img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    background-size: cover;
    transition: 1ms;
    animation-delay:0ms;
   
    
    
   
  
}


.slideshow-text .comp-logo{
        margin-bottom: 10px;
        width: 50%;
        
         
       

}
        
    
.slideshow-text .comp-logo img{
       margin-left: 30px;
        border-radius: 50%;
        box-shadow: 1px 2px 20px black;
        
        
        
}       
        
.slideshow-text{
    max-width: 60%;
    position:absolute;
    top: 7%;
    left: 3%;
    transform: translateY(-50%,-50%);
    color: #ffff;
    padding-right: 100px;
    font-family: 'Acme', sans-serif;
    position:absolute;
}
.slideshow-text h3{
    font-size: 50px;
    text-transform: uppercase;
    font-family: 'Acme', sans-serif;
    letter-spacing: 4px;
    margin-bottom: 20px;
    text-decoration: 3px solid black;
    text-shadow: 1px 2px 4px black;
}
.slideshow-text p{
    font-size: 40px;
    font-family: 'IBM Plex Serif', serif;
    letter-spacing: 2px;
    font-weight: 300;
    text-shadow: 1px 2px 2px black;
    position:absolute;
}

@keyframes cycleshow {
    0%{
        opacity: 0;
    }
    25%{
        opacity: 1;
    }
    50%{
        opacity: 0;
    }
    75%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}



.content{
    
    font-size: 20px;
    font-family: sans-serif
}
.content .about{
    padding-top: 40px;
    
    margin-top: 20px;
}
.content .about h1{
    padding: 20px;
    font-family: 'Lobster', cursive;
    text-align: center;
     margin-left: 40px;
   padding-left: 20px;
    text-decoration:2px solid black ;
}
.content .about p{
    font-family: 'Kanit', sans-serif;
    margin-left: 300px;
    font-size: 20px;
    
    
}
.content .logo1{
   margin-bottom: 100px;
   
}

.content .summary{
    margin-top: 20px;
}

.content .summary h1{
    padding: 20px;
    font-family: 'Lobster', cursive;
    text-align:center;
    margin-left: 20px;
    padding-left: 20px;

}
.content .summary p{
    font-family: 'Kanit', sans-serif;
     margin-right: 300px;
     font-size: 20px;
     margin-left: 60px;

   
    
}
.content .logo2{
   margin-bottom: 100px;
   float: right;
}

.menu{
    margin-top: 350px;
    box-shadow: 1px 2px 27px black;
    border-radius: 10px;
    background-color: rgb(70, 32, 1);
    
}

.menu h1{
    
    color:#ffff ;
    margin-left: 32%;
    font-family: 'Abel', sans-serif;
    padding: 60px;
    
   
}

.menu .menu_contain{
    
    display:flex;
    margin-left: 1%;
    padding-left: 50px;
}
.menu .menu_contain .item_on{
    
    color:#ffff ;
    width: 33.33%;
    margin:10px;
    height: auto;

}
.menu .menu_contain .item_on h2{
    font-size: 30px;
    font-family:'Acme', sans-serif; 
   
}
.menu .menu_contain .item_on .items li{
    text-decoration: none;
    list-style-type: none;
    padding-top: 20px;
   

}
footer{
    padding:50px;

}